/*■■■■■■■■■■■■■■■■■■■■■■■ Imports */
/*■■■■■■■■■■■■■■■■■■■■■■■ Declarations */
/*■■■■■■■■■■■■■■■■■■■■■■■ Core */

*{margin: 0; padding: 0; box-sizing: border-box;}
body{background: #222; color: #fff; font-family: Ubuntu, sans-serif;}
a{text-decoration: none; color: #fff; display: block; padding: 15px 20px;}
ul{list-style: none;}
h1{text-align: center;}
h2{color: rgb(56, 121, 241);}

/*■■■■■■■■■■■■■■■■■■■■■■■ Initial */
/*■■■■■■■■■■■■■■■■■■■■■■■  */